body{
  overflow-x: hidden;
}
button{
  box-sizing: border-box;;
}
canvas{
  border: 2px solid black;
}
#grid{
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
  height:96vh;
  width:99vw;
}

svg{
  display: block;
  margin: auto;
  width:80%;
}

.grid-row{
  vertical-align: top;
  line-height: 1;
}
.node{
  border:1px solid rgba(0,190,218,0.75);
  /* width:28px;
  height:28px; */
  box-sizing:border-box;
  display:inline-block;
  vertical-align: top;
}


.node-wall{
  background-color:#1e2431;
  border:0;
  animation-name:wall;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.node-wall-hover{
  background-color:#1e2431;
  border:0;
}


@keyframes wall {
  from {
    transform:scale(.3);
  }

  to {
    transform: scale(1);
  }

}
@keyframes passage {
  0% {
    background-color: #1e2431;
    transform:scale(1);
    border:0;
  }

  50% {
    transform: scale(0.3);
    border:0;
  }
  100% {
    transform: scale(1);
    border:1px solid rgba(0,190,218,0.75);
  }

}
.node-passage{
  animation-name: passage;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
.node-start{
  text-align:center;
  background-image: url(../start.svg);
  animation-name:wall;
  animation-duration:0.3s;
  animation-timing-function:ease-in-out;
  filter: invert(18%) sepia(45%) saturate(7496%) hue-rotate(207deg) brightness(103%) contrast(87%);
  border: 3px solid black !important;
}
.node-end{
  text-align:center;
  background-image: url(../end.svg);
  animation-name:wall;
  animation-duration:0.3s;
  animation-timing-function:ease-in-out;
  filter: invert(18%) sepia(45%) saturate(7496%) hue-rotate(207deg) brightness(103%) contrast(87%);
  border: 3px solid black !important;
}

@keyframes check{
  0%  {
    transform: scale(.3) rotate(30);
    background-color rgba(17,104,217,0.75);
    opacity: 0.75;
    border:0;
  }

  25% {
    transform: rotate(60);
    opacity:0.90;
  }

  50%  {
    opacity:1;
    transform:scale(1.2) rotate(180);
    background-color: rgba(0,190,218,0.75);
    transform: rotate(90);
  }

  75%  {
    background-color:rgba(17,104,217,0.75);
    border:0;
  }

  100%  {
    transform: scale(1.0) rotate(360);
    border:0;
    background-color: rgba(0,190,218,0.75);
  }
}

@keyframes check-backward{
  0%  {
    transform: scale(.3) rotate(30);
  background-color: #05AC72;
    opacity: 0.75;
    border:0;
  }

  25% {
    transform: rotate(60);
    opacity:0.90;
  }

  50%  {
    opacity:1;
    transform:scale(1.2) rotate(180);
    background-color: #13EBA2;
    transform: rotate(90);
  }

  75%  {
  background-color: #05AC72;
    border:0;
  }

  100%  {
    transform: scale(1.0) rotate(360);
    border:0;
    background-color: #13EBA2;
  }
}
.node-check{
  background-color: rgba(0,190,218,0.75);
  border:1px solid rgba(207,221,239,0.65);
  animation: check 1s ease-in-out 0s, pulse 1s ease-in-out 14s Infinite;
}

.node-check-backward{
  background-color: #13EBA2;
  border:1px solid rgba(207,221,239,0.65);
  animation: check-backward 1s ease-in-out 0s, pulse-backward 1s ease-in-out 14s infinite;
}

.node-check-rt{
  background-color: rgba(0,190,218,0.75);
  border:1px solid rgba(207,221,239,0.65);
}
.node-backtrack{
  animation-name:backtrack;
  border:1px solid rgba(207,221,239,0.65);
  animation-duration:1s;
  animation-timing-function: ease-in-out;
}

@keyframes backtrack{
  0%  {
    background-color:rgba(50, 168, 82,0.75);
  }

  75%  {
    background-color rgba(17,104,217,0.75);
  }
  100%  {
  background-color: rgba(0,190,218,0.75);
  }
}
@keyframes fadein {
  from {
    transform: scale(1);
    background-color: #ffd400;
    opacity: 1;
    border-radius: 100%;
    border:0;
  }
  to {
    transform: scale(0.4);
    background-color: rgba(17,104,217,0.75);
    opacity: 0.75;
    border-radius: 100%;
  }
}

@keyframes fadein-backward {
  from {
    transform: scale(1);
    background-color: #ffd400;
    opacity: 1;
    border-radius: 100%;
    border:0;
  }
  to {
    transform: scale(0.4);
  background-color: #05AC72;
    opacity: 0.75;
    border-radius: 100%;
  }
}
@keyframes pulse{
  0% {
    background-color: rgba(0,190,218,0.75);
  }
  50% {
    background-color: rgba(17,104,217,0.75);
  }
  100% {
    background-color: rgba(0,190,218,0.75);
  }
}

@keyframes pulse-backward{
  0% {
    background-color: #13EBA2;
  }
  50% {
  background-color: #05AC72;
  }
  100% {
    background-color: #13EBA2;
  }
}

.node-current{
  border:1px solid rgba(207,221,239,0.65);
  background-color : rgba(17,104,217,1);
  animation-name: fadein;
  opacity:0.75;
  animation-duration:0.3s;
  animation-timing-function: ease-in;
}
.node-current-backward{
  border:1px solid rgba(207,221,239,0.65);
  background-color: #05AC72;
  animation-name: fadein-backward;
  opacity:0.75;
  animation-duration:0.3s;
  animation-timing-function: ease-in;
}

.node-path{
  background-color:#ffd400 ;
  animation: wall 0.3s ease-in-out 0s, path-pulse 1s ease-in-out 10s infinite;
  border:0;
}

@keyframes path-pulse{
  0% {
    background-color: #ffd400;
  }
  50% {
    background-color: #eba400;
  }
  100% {
    background-color: #ffd400;
  }
}
.node-intersection{
  background-color: #eba400 !important;
}

.node-child{
  background-color:purple;
}

.node-strong-1{
  border-width: 2px;
  border-style: solid;
  border-color:#1e2431;
}
.node-strong-2{
  border-width: 3px;
  border-style: solid;
  border-color:#1e2431;
}
.node-strong-3{
  border-width: 4px;
  border-style: solid;
  border-color:#1e2431;
}
.node-strong-4{
  border-width: 5px;
  border-style: solid;
  border-color:#1e2431;
}
@media screen and (max-width: 1800px){
  body{
    margin:0;
  }
}

#mynetwork{
  width: 99vw;
  height: 100vh;
  border: 2px solid black;
}
